<footer class="py-3 my-4">
  <ul class="nav justify-content-end border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><i class="bi bi-twitter"></i> Twitter</a></li>
  </ul>
  <p class="text-center text-muted fw-light small">
    当サービスを利用して起きたトラブルにつきまして、提供者は一切の責任を負いません。
  </p>
  <p class="text-center text-muted fw-light small">
    &copy; FF14 Resume
  </p>
</footer>
