<!DOCTYPE html>
<html lang="ja">
<head>
    {{> common_meta }}
    {{> common_stylesheet }}
    <title>{{ title }} - FF14 Resume</title>
</head>
<body>
<div class="container">
    {{> navbar }}
    {{{ body }}}
    {{> footer }}
</div>
    {{> common_js }}
</body>
</html>
