<!DOCTYPE html>
<html lang="ja">
<head>
    {{> common_meta }}
    {{> common_stylesheet }}
    <title>{{ title }}</title>
</head>
<body>
<div id="container">
    {{{ body }}}
</div>
    {{> common_js }}
</body>
</html>
