<form>
  <div class="m-3">
    <div class="row g-3 justify-content-center">
      {{> resume/name_input }}
      <div class="w-100 d-none d-md-block"></div>
      {{> resume/lodestone_input }}
      <div class="w-100 d-none d-md-block"></div>
      {{> resume/world_and_job }}
      <div class="w-100 d-none d-md-block"></div>
      {{> resume/active_time }}
      <div class="w-100 d-none d-md-block"></div>
      {{> resume/can_vc }}
      <div class="w-100 d-none d-md-block"></div>
      {{> resume/description }}
      <div class="col-6">
        <button type="submit" class="btn w-100 btn-primary"><i class="bi bi-play-circle"></i> 登録する</button>
      </div>
  </div>
</form>
