<div class="col-md-6 align-self-center">
  <label for="password" class="form-label">パスワード</label>
  <input type="password" class="form-control" id="password" name="password" pattern="^(?=.*?[a-z])(?=.*?d)[a-zd]{8,100}$">
</div>
<div class="w-100 d-none d-md-block"></div>
<p class="col-md-6 form-text">
  <i class="bi bi-check-circle"></i> 半角英数字をそれぞれ1文字以上含めて8文字以上入力してください。<br>
  <i class="bi bi-exclamation-triangle"></i> パスワードはレジュメの削除・編集(未実装)に使います。
</p>
